</main>
<section id="footer" class="footer-background">
  <div class="container">
    <footer class="py-5 ">
      <ul class="nav justify-content-center mb-4">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-body-secondary">Contact</a></li>
      </ul>
      <p class="text-center text-body-secondary">© <%= new Date().getFullYear() %> Career Advisor , Co.</p>
    </footer>
  </div>
</section>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>