<%- include("partials/header.ejs") %>

    <p>Hello there, This is Saumil Upadhyay who has created this blog. I am currently pursuing my B.Tech Degree from IIIT Sonepat in CSE</p>

    <p>This blog web application has been created with the skills I have learnt from WEB DEVELOPMENT COURSE by Angela Yu. </p>

    <h1>Project Description</h1>

    <p>The goal of this project is to create a Blog web application using Node.js, Express.js, and EJS. The application will allow users to create and view blog posts. Posts will not persist between sessions as no database will be used in this version of the application. Styling will be an important aspect of this project to ensure a good user experience.</p>

    <h1>Deliverables</h1>
    <ul>
        <li>One Node project for the function of the website</li>
        <li>Including at least one EJS file for the structure of the website</li>
        <li>Including at least one CSS file for the styling of the website</li>
    </ul>

    <h1>Features</h1>
    <ul>
        <li>1. Post Creation: Users should be able to create new posts.</li>
        <li>2. Post Viewing: The home page should allow the user to view all their posts.
        </li>
        <li>3. Post Update/Delete: Users should be edit and delete posts as needed.</li>
        <li>4. Styling: The application should be well-styled and responsive, ensuring a good user experience on both desktop and mobile devices.</li>
    </ul>


    <h1>Technical Requirements</h1>
    <li>1. Node.js & Express.js: The application will be a web server built using Node.js and Express.js. Express.js will handle routing and middleware.</li>
    <li>2. EJS: EJS will be used as the templating engine to generate dynamic HTML based on the application's state.


 
    </li>









<%- include("partials/footer.ejs") %>