<%- include("partials/header.ejs") %>

<h1>FAQ'S</h1>

<h4>Some frequently asked questions (FAQs) related to career planning and decision-making:</h4>


<p><strong>How do I decide on a career path after class 12th?</strong>
</br>
    Deciding on a career path involves assessing your interests, strengths, skills, and values, as well as researching different career options and exploring your passions and aspirations. Career counseling, self-assessment tools, and guidance from mentors or career advisors can help you make an informed decision.
</p>

<p><strong>What if I am unsure about my career path after class 12th?</strong>
</br>
    If you're unsure about your career path after class 12th, consider exploring different options through internships, volunteering, part-time jobs, or short-term courses. Seek guidance from career counselors, mentors, or professionals in your field of interest to gain insights and clarity.
</p>

<p>
 <strong>How can I prepare for competitive exams after class 12th?</strong>
</br>
To prepare for competitive exams after class 12th, create a study schedule, gather study materials, practice past exam papers, and seek guidance from experienced mentors or coaching institutes. Focus on developing strong conceptual understanding, time management skills, and exam strategies to succeed in competitive exams.
</p>

<p><strong>What if I want to pursue a non-conventional career path after class 12th?</strong>
</br>
    Pursuing a non-conventional career path after class 12th requires creativity, innovation, and determination. Research alternative career options, explore your interests and passions, and seek guidance from professionals or experts in unconventional fields to carve out a unique career path that aligns with your aspirations. 
</p>

<%- include("partials/footer.ejs") %>