<%- include("partials/header.ejs") %>
    <h1>Physics,Chemistry with Biology</h1>
    <p>Medicine: Pursue careers as doctors, surgeons, physicians, specialists, or medical researchers. Options include allopathic (MBBS), dental (BDS), ayurvedic (BAMS), homeopathic (BHMS), or other alternative medicine courses.
    </p>

    <p>Nursing: Become registered nurses, nurse practitioners, nurse anesthetists, or nurse educators. Nursing offers opportunities in hospitals, clinics, community health centers, and research institutions.</p>

    <p>Pharmacy: Pursue careers as pharmacists, pharmaceutical researchers, or drug safety experts. Pharmacists dispense medications, provide patient care, and advise on drug therapy.</p>

    <p>Biotechnology: Work in biotech companies, research institutions, or government agencies. Careers include biotechnologists, biochemists, microbiologists, geneticists, or bioprocess engineers.</p>

    <p>Veterinary Science: Become veterinarians, animal scientists, or wildlife biologists. Veterinary science involves caring for animals, diagnosing diseases, and promoting animal health and welfare.</p>

    <p>Dentistry: Pursue careers as dentists, orthodontists, oral surgeons, or dental researchers. Dentists diagnose and treat dental issues, perform dental procedures, and educate patients on oral health.</p>

    <p>Agriculture and Horticulture: Work in agricultural research, farming, agronomy, or horticulture. Careers include agricultural scientists, agronomists, plant breeders, or landscape architects.</p>

    <p>Environmental Science: Address environmental issues as environmental scientists, ecologists, conservationists, or environmental engineers. They work to protect natural resources, mitigate pollution, and promote sustainability.</p>

<%- include("partials/footer.ejs") %>